certifi
selenium
pandas
numpy
python-dotenv
chromedriver-autoinstaller
geckodriver-autoinstaller
urllib3
emoji==1.7.0
wordcloud
nltk
seaborn
scipy
spacy
matplotlib
flask
flask_bootstrap
flask_wtf
flask_sqlalchemy
flask_login
#nltk.download('stopwords')
#nltk.download('vader_lexicon')
#nltk.download('punkt')
#python -m spacy download en_core_web_sm
webdriver_manager
SpeechRecognition
pytube
moviepy
pydub
sklearn
python-docx
docx2pdf
email_validator
twspace-dl